
/* .item-row {
width: auto;
background-color: aqua;
overflow: hidden;
  
} */

.sam-details__box{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
 
}

.sam-details__item-box{
    flex: 1 1 30%;
    background: green;
    border-radius: 5px;
    height: 200px;
    padding: 10px;
}

.sam-details__item{
    
    background: rgb(187, 187, 187);
    border-radius: 5px;
    padding: 10px;
    height: 50%;
}

.fff{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
}
.swiper-slide {
    width: 100%; /* Définit la largeur à 100% du conteneur parent */
    height: 100%; /* Définit la hauteur à 100% du conteneur parent */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
    max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur du conteneur */
    width: auto;
    height: auto;
}
